<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org":>
<head th:replace="/product/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create product</h1>
<p>
    <a href="/products">List product</a>
</p>
<form th:action="@{/save-product}" th:object="${product}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input th:type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Product type</td>
            <td>
                <select th:field="*{productType}">
                    <option th:each="p : ${productTypes}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input th:type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input th:type="text" th:field="*{quantity}"></td>
        </tr>
        <tr>
            <td>Create Date</td>
            <td><input th:type="text" th:field="*{createDate}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input th:type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input th:type="submit" value="Create product"></td>
        </tr>
    </table>
</form>
<footer th:replace="/product/layout :: footer"></footer>
</body>
</html>